.Card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  color: #282c34;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  flex-basis: 100%;
}

@media screen and (min-width: 1000px) {
  .Card-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    color: #282c34;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    flex-basis: 30%;
  }
}

.Card-title {
  font-size: calc(10px + 2vmin);
  font-family: 'Goudy Bookletter 1911', 'serif';
}

.Card-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: bold;
  flex-wrap: wrap;
}

.Card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Card-class {
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
}

.Card-spell-known-status {
  margin-bottom: 10px;
  margin-top: 10px;
}

.Show-hide {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}
