.CharacterManager-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CharacterManager-table th {
  text-align: left;
  font-size: calc(8px + 1vmin);
}

.CharacterManager-table td {
  padding: 5px;
}

.CharacterManager-message {
  font-style: italic;
  margin: 3px;
}

.CharacterManager-modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.CharacterManager-modal-content {
  background-color: #fefefe;
  color: #282c34;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 25px;
}

@media screen and (min-width: 1000px) {
  .CharacterManager-modal-content {
    background-color: #fefefe;
    color: #282c34;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 20px;
  }
}

.CharacterManager-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.CharacterManager-modal-,
.CharacterManager-modal- {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.CharacterManager-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CharacterManager-modal-form > label {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: bold;
}

.CharacterManager-form-invalid {
  color: darkred;
}
