.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

/* Header Styles */
.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: 'Goudy Bookletter 1911', 'serif';
}

.Wizard-header {
  margin-right: 3px;
}

.Underline {
  display: block;
  border: none;
  color: #282c34;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 10px;
  background: white;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    250,
    from(#fff),
    to(#282c34)
  );
}

.App-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5px;
}

.App-menu-item {
  font-family: 'Goudy Bookletter 1911', 'serif';
  font-size: calc(10px + 1vmin);
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

footer {
  text-align: center;
  margin-top: auto;
}

a {
  color: white;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: #4289c1;
}

a:focus {
  text-decoration: underline;
}
